.input {
  width: 90%;
}

.icon {
  margin: 0 0.5rem;
  cursor: pointer;
  width: 5%;
  text-align: center;
}

.wrapper {
  display: flex;
  height: 3.5rem;
  align-items: center;
  background: #f0f0f0;
  justify-content: space-between;
}